@import "tailwindcss";

/* * {
    box-sizing: border-box;
  }

#header-container{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

#nav-items{
    padding-top: 25px;
    padding-left: 15px;
}
#nav-items > ul {
    display: flex;
    list-style-type: none;
    font-size: 24px;
    padding-left: 40px;
    
}
#nav-items > ul > li{
    padding: 0px 10px;
}

.logo{
    width:240px
}

.res-card{
    display: grid;
   
    overflow-wrap: break-word;
    white-space: normal;
    width : 250px;
    overflow: hidden;
    height: 450px;
    

}
.res-card:hover{
    border:1px solid black;
    cursor: pointer;
    background-color: #f0f0f0;
}

.res-info{
    display: grid;
    padding: 5px;
    overflow-wrap: break-word;  
    word-wrap: break-word;  
    width:100%;
    overflow: hidden;
    
    

}

h2,h3{
    
        word-break: break-word;
        overflow-wrap: break-word;
        white-space: normal;
        margin-top: 2px;
      

}
.order{
    padding: 0px;
}

.lo{
    width:230px;
    height: 185px;
}

.res-container{

    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;


}

.filter-btn{
   
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 4px;
    cursor: pointer;
    
}
.filter-container{
    display: flex;
    gap: 5px;
}

.menu-info{
    display: flex;
    flex-direction: column;
} */